<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://gisnas.net/Avgang" version="1.1.0" viewmodes="maximized">
    <access origin="*" subdomains="true"></access>
    <tizen:application id="zZJRnGeh3I.Avgangstider" package="zZJRnGeh3I" required_version="2.3.2"/>
    <author email="oystein@gisnas.net">Øystein Gisnås</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal"/>
    <icon src="img/icons8-tram-side-view-96.png"/>
    <name>Avgang</name>
    <tizen:privilege name="http://tizen.org/privilege/location"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
</widget>
